/* LOCAL FONTS CONNECTION  */
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-ExtraLight.woff) format("woff"),
    url(../fonts/Nunito-ExtraLight.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Light.woff) format("woff"),
    url(../fonts/Nunito-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Regular.woff) format("woff"),
    url(../fonts/Nunito-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Medium.woff) format("woff"),
    url(../fonts/Nunito-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-SemiBold.woff) format("woff"),
    url(../fonts/Nunito-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Bold.woff) format("woff"),
    url(../fonts/Nunito-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-ExtraBold.woff) format("woff"),
    url(../fonts/Nunito-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Black.woff) format("woff"),
    url(../fonts/Nunito-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 18px;
  scrollbar-width: none;
}
* ::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  width: 100%;
  min-height: calc(100vh - 360px);
  margin: 60px 0;
  padding: 120px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #66b49d, #34b5a6, #00adb5);
}

/* HEADER NAV */
.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 10%);
}
.header__list {
  min-width: 1040px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
}
.header__title img {
  width: 24px;
  margin-right: 5px;
}
.header__menu,
.header__lang,
.header__theme {
  display: flex;
  align-items: center;
}
.header__theme {
  margin-right: 24px;
}
.header__theme img {
  width: 24px;
  cursor: pointer;
}
#light-theme {
  display: none;
}
.header__lang span {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.header__lang hr {
  width: 2px;
  height: 1rem;
  margin: 0 5px;
  display: inline-block;
  background: #000000;
  outline: none;
  border: none;
}

/* MAIN APP */
.todo-app {
  width: 100%;
  max-width: 600px;
  padding: 30px 50px 15px;
  z-index: 1;
  background: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 10%);
}
.todo-app__title {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.todo-app__title h1 {
  font-weight: 900;
  font-size: 1.6rem;
}
.todo-app__title img {
  width: 48px;
  margin-left: 15px;
  transform: rotate(15deg);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.todo-app__row {
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #e6e6e6;
  border-radius: 30px;
  padding: 15px 0 15px 25px;
}
.todo-app__input {
  width: calc(100% - 145px);
  min-height: 25px;
  line-height: 25px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  cursor: text;
}
.todo-app__range {
  position: absolute;
  bottom: 0.7rem;
  right: calc(120px + (0.7rem * 0.5));
  font-size: 0.7rem;
  transform: translateY(50%);
}
.todo-app__publish {
  width: 120px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: #66b49d;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 10%), 0px -2px 2px rgba(0, 0, 0, 10%),
    2px 0px 2px rgba(0, 0, 0, 10%), -2px 0px 2px rgba(0, 0, 0, 10%);
  border-radius: 60px;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.todo-app__publish:hover {
  background: #73c8ae;
  cursor: pointer;
}
.todo-app__publish:disabled {
  background: #508c7a;
  cursor: not-allowed;
  /* cursor: url(../img/alertCircleDark.svg) 12 12, not-allowed; */
}
.todo-app__spacer {
  width: 100%;
  height: 2px;
  margin: 30px 0 15px;
  background: #e6e6e6;
  outline: none;
  border: none;
}
.todo-app__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.todo-app__info {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-app__counter {
  display: flex;
  flex-direction: column;
}
.todo-app__counter-value {
  text-transform: lowercase;
  line-height: 1.2rem;
  font-size: 0.8rem;
}
.todo-app__placeholder {
  opacity: 60%;
  cursor: pointer;
}
.todo-app__clear {
  position: relative;
  background: none;
  outline: none;
  border: none;
  text-transform: lowercase;
  line-height: 20px;
}
.todo-app__clear:hover {
  cursor: pointer;
}
.todo-app__clear:disabled {
  cursor: not-allowed;
}

.line-animation {
  background: #000000;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@-webkit-keyframes line-animation {
  0% {
    width: 0;
    left: 120%;
    opacity: 0;
  }
  25% {
    width: 25%;
    left: 100%;
    opacity: 25%;
  }
  50% {
    width: 50%;
    left: 0;
    opacity: 50%;
  }
  75% {
    width: 75%;
    left: -20%;
    opacity: 75%;
  }
  100% {
    width: 120%;
    left: 50%;
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes line-animation {
  0% {
    width: 0;
    left: 120%;
    opacity: 0;
  }
  25% {
    width: 25%;
    left: 100%;
    opacity: 25%;
  }
  50% {
    width: 50%;
    left: 0;
    opacity: 50%;
  }
  75% {
    width: 75%;
    left: -20%;
    opacity: 75%;
  }
  100% {
    width: 120%;
    left: 50%;
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@-webkit-keyframes reverse-line {
  0% {
    width: 120%;
    left: 50%;
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
  25% {
    width: 75%;
    left: -20%;
    opacity: 75%;
  }
  50% {
    width: 50%;
    left: 0;
    opacity: 50%;
  }
  75% {
    width: 25%;
    left: 100%;
    opacity: 25%;
  }
  100% {
    width: 0;
    left: 120%;
    opacity: 0;
  }
}
@keyframes reverse-line {
  0% {
    width: 120%;
    left: 50%;
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
  25% {
    width: 75%;
    left: -20%;
    opacity: 75%;
  }
  50% {
    width: 50%;
    left: 0;
    opacity: 50%;
  }
  75% {
    width: 25%;
    left: 100%;
    opacity: 25%;
  }
  100% {
    width: 0;
    left: 120%;
    opacity: 0;
  }
}

/* TASKS */
.task {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.task.checked {
  color: rgba(0, 0, 0, 60%);
  text-decoration: line-through;
}
.task.checked p::before {
  background-image: url(../img/checked.webp);
}
.task p {
  display: flex;
  align-items: center;
  padding: 0 16px 0 40px;
  cursor: pointer;
  word-break: break-all;
}
.task p::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-image: url(../img/unchecked.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.task__panel {
  display: flex;
  align-items: center;
}
.task__panel-button {
  width: 24px;
  cursor: pointer;
}
.task__panel img:first-child {
  margin-right: 12px;
}
#task-prototype {
  display: none;
}

/* FOOTER NAV */
.footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 10%);
}
.footer__list {
  min-width: 1040px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list a,
.footer__list a:visited {
  font-size: 0.9rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}
