/*? Локальное подключение шрифтов, наиболее производительных форматов */
@font-face {
  font-family: "Albert Sans";
  src: url(../fonts/AlbertSans-Light.woff) format("woff"),
    url(../fonts/AlbertSans-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Albert Sans";
  src: url(../fonts/AlbertSans-Regular.woff) format("woff"),
    url(../fonts/AlbertSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Albert Sans";
  src: url(../fonts/AlbertSans-Medium.woff) format("woff"),
    url(../fonts/AlbertSans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Albert Sans";
  src: url(../fonts/AlbertSans-SemiBold.woff) format("woff"),
    url(../fonts/AlbertSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Albert Sans";
  src: url(../fonts/AlbertSans-Bold.woff) format("woff"),
    url(../fonts/AlbertSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Albert Sans";
  src: url(../fonts/AlbertSans-ExtraBold.woff) format("woff"),
    url(../fonts/AlbertSans-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Albert Sans";
  src: url(../fonts/AlbertSans-Black.woff) format("woff"),
    url(../fonts/AlbertSans-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Albert Sans";
  font-weight: 500;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/rose-petals.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 50px;
}

/* HEADER NAV */
.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 10%);
}
.header__list {
  min-width: 1040px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list div {
  display: flex;
  align-items: center;
}
.header__list a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}
.header__list img {
  width: 24px;
  margin-right: 5px;
}
.header__list span {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.header__list hr {
  width: 2px;
  height: 1rem;
  margin: 0 5px;
  display: inline-block;
  background: #000000;
  outline: none;
  border: none;
}

/* MAIN APP */
.todo-app {
  width: 100%;
  max-width: 540px;
  margin: 125px 30px;
  padding: 30px 50px;
  z-index: 1;
  background: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 10%);
}
.todo-app__title {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.todo-app__title span {
  font-weight: 900;
  font-size: 1.5rem;
}
.todo-app__title img {
  width: 48px;
  margin-left: 15px;
  transform: rotate(15deg);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.todo-app__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e6e6e6;
  border-radius: 25px;
  padding-left: 25px;
}
.todo-app__row input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background: transparent;
}
.todo-app__row button {
  padding: 15px 35px;
  border: none;
  outline: none;
  background: #66b49d;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.todo-app hr {
  width: 100%;
  height: 2px;
  margin: 30px 0;
  background: #e6e6e6;
  outline: none;
  border: none;
}
.todo-app__list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todo-app__element {
  margin-bottom: 30px;
  position: relative;
}
.todo-app__element:last-child {
  margin-bottom: 0;
}
.todo-app__element.checked {
  color: #555555;
  text-decoration: line-through;
}
.todo-app__element.checked p::before {
  background-image: url(../img/checked.webp);
}
.todo-app__element p {
  padding-left: 40px;
  cursor: pointer;
}
.todo-app__element p::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-image: url(../img/unchecked.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* FOOTER NAV */
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 10%);
}
.footer__list {
  min-width: 1040px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list a,
.footer__list a:visited {
  font-size: 0.9rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}
