/* MAIN */
.todo-app {
  width: 100%;
  max-width: 600px;
  padding: 30px 50px;
  position: relative;
  z-index: 1;
  background: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 10%);
  transition: max-hieght 200ms ease;
}

.todo-app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.todo-app__title {
  display: flex;
  align-items: center;
}

.todo-app__title h1 {
  font-weight: 900;
  font-size: 1.6rem;
}

.todo-app__title img {
  width: 48px;
  margin-left: 15px;
  transform: rotate(15deg);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.todo-app__filter {
  width: 184px;
  position: relative;
}

.todo-app__filter-row {
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
  border-radius: 5px;
  border: 2px solid #c6c6c6;
  background: #ffffff;
  overflow: hidden;
}

[data-target] {
  width: calc(100% - 20px - 45px);
  padding-left: 20px;
}

.todo-app__filter-button {
  width: 45px;
  height: calc(100% + 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: #508c7a;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 10%), 0px -2px 2px rgba(0, 0, 0, 10%),
    2px 0px 2px rgba(0, 0, 0, 10%), -2px 0px 2px rgba(0, 0, 0, 10%);
  transition: background 200ms ease;
  cursor: pointer;
}

.todo-app__filter-button img {
  transform: rotateX(0deg);
  pointer-events: none;
}

.todo-app__filter-button:hover {
  background: #66b49d;
}

.todo-app__filter-list {
  width: 170px;
  max-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  border: 2px solid #c6c6c6;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  transition: top 400ms ease, max-height 400ms ease;
  cursor: pointer;
}

.todo-app__filter-element {
  width: calc(100% - 20px);
  height: 40px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  position: relative;
  transition: background 200ms ease;
}

.todo-app__filter-element::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0px;
  background-color: #c6c6c6;
}

.todo-app__filter-element:hover {
  background-color: #c6c6c6;
}

/* INPUT BOX */
.todo-app__row {
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #e6e6e6;
  border-radius: 30px;
  padding: 15px 0 15px 25px;
}

.todo-app__input {
  width: calc(100% - 145px);
  min-height: 25px;
  line-height: 25px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  cursor: text;
}

.todo-app__range {
  position: absolute;
  bottom: 0.7rem;
  right: calc(120px + (0.7rem * 0.5));
  font-size: 0.7rem;
  transform: translateY(50%);
}

.todo-app__publish {
  width: 120px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: #66b49d;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 10%), 0px -2px 2px rgba(0, 0, 0, 10%),
    2px 0px 2px rgba(0, 0, 0, 10%), -2px 0px 2px rgba(0, 0, 0, 10%);
  border-radius: 60px;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo-app__publish:hover {
  background: #73c8ae;
  cursor: pointer;
}

.todo-app__publish:disabled {
  background: #508c7a;
  cursor: not-allowed;
}

.todo-app__spacer {
  width: 100%;
  height: 2px;
  margin: 30px 0 15px;
  background: #e6e6e6;
  outline: none;
  border: none;
}

.todo-app__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* LIST CONTAINER */
.task {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #ffffff;
}

.task__content {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px 0 40px;
  line-height: 25px;
  cursor: pointer;
  word-break: break-all;
}

.task__content::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-image: url(../../img/unchecked.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.task__content.checked {
  color: rgba(0, 0, 0, 60%);
  text-decoration: line-through;
}
.task__content.checked.task__content::before {
  background-image: url(../../img/checked.webp);
}

.task__panel {
  display: flex;
  align-items: center;
}

.task__panel-button {
  display: block;
  width: 24px;
  cursor: pointer;
}

.task__panel img:last-child {
  margin-left: 12px;
}

#task-prototype {
  display: none;
}

.task-deletion {
  -webkit-animation: task-deletion 400ms ease forwards;
  animation: task-deletion 400ms ease forwards;
}

/* LIST INFO */
.todo-app__info {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-app__counter {
  display: flex;
  flex-direction: column;
}

.todo-app__counter-value {
  text-transform: lowercase;
  line-height: 1.2rem;
  font-size: 0.8rem;
}

.todo-app__placeholder {
  opacity: 60%;
  cursor: pointer;
}

.todo-app__cleaning {
  position: relative;
  height: calc(1rem + 2px);
}

.todo-app__clear {
  background: none;
  outline: none;
  border: none;
  text-transform: lowercase;
  line-height: calc(1rem + 2px);
}

.todo-app__clear:hover {
  cursor: pointer;
}

.todo-app__clear:disabled {
  cursor: not-allowed;
}

.todo-app__strike {
  background: #000000;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* @-webkit-keyframes line-animation {
  0% {
    width: 0;
    left: 120%;
    opacity: 0;
  }
  25% {
    width: 25%;
    left: 100%;
    opacity: 25%;
  }
  50% {
    width: 50%;
    left: 0;
    opacity: 50%;
  }
  75% {
    width: 75%;
    left: -20%;
    opacity: 75%;
  }
  100% {
    width: 120%;
    left: 50%;
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes line-animation {
  0% {
    width: 0;
    left: 120%;
    opacity: 0;
  }
  25% {
    width: 25%;
    left: 100%;
    opacity: 25%;
  }
  50% {
    width: 50%;
    left: 0;
    opacity: 50%;
  }
  75% {
    width: 75%;
    left: -20%;
    opacity: 75%;
  }
  100% {
    width: 120%;
    left: 50%;
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes reverse-line {
  0% {
    width: 120%;
    left: 50%;
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
  25% {
    width: 75%;
    left: -20%;
    opacity: 75%;
  }
  50% {
    width: 50%;
    left: 0;
    opacity: 50%;
  }
  75% {
    width: 25%;
    left: 100%;
    opacity: 25%;
  }
  100% {
    width: 0;
    left: 120%;
    opacity: 0;
  }
}

@keyframes reverse-line {
  0% {
    width: 120%;
    left: 50%;
    opacity: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
  25% {
    width: 75%;
    left: -20%;
    opacity: 75%;
  }
  50% {
    width: 50%;
    left: 0;
    opacity: 50%;
  }
  75% {
    width: 25%;
    left: 100%;
    opacity: 25%;
  }
  100% {
    width: 0;
    left: 120%;
    opacity: 0;
  }
} */

/* STYLES OF UPDOWNDUTTON */
.scroll-arrow {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 90px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  background: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 10%);
  opacity: 60%;
  visibility: hidden;
  transition: opacity 250ms ease;
  cursor: pointer;
}

.way-up {
  -webkit-animation: way-up 500ms forwards;
  animation: way-up 500ms forwards;
}

.way-down {
  -webkit-animation: way-down 500ms forwards;
  animation: way-down 500ms forwards;
}

/* @-webkit-keyframes way-up {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

@keyframes way-up {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

@-webkit-keyframes way-down {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes way-down {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg);
  }
} */

/* STYLES OF EDITOR */
.todo-app__row_editor {
  width: 100%;
  padding: 10px 0 10px 20px;
  border: 2px solid #c6c6c6;
  border-radius: 5px;
}

.todo-app__row_editor .todo-app__publish {
  border-radius: 5px;
  background: #ffc250;
}

.todo-app__row_editor .todo-app__publish:hover {
  background: #ffd250;
}
.todo-app__row_editor .todo-app__publish:disabled {
  background: #dca745;
}

.task_editing .task__content {
  padding: 0 4px 0 40px;
  text-decoration: none !important;
}
